body {
    background-color: beige;
}

button {
    background-color: rgb(50, 50, 50);
    color: rgb(255, 255, 255);
    border-width: 5px;
    padding: 10px;
    width: 175px;
    margin: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

li {
    text-align: center;
}

h1 {
    text-align: center;
    color: black;
    font-weight: 900;
    font-size: 128px;
    margin-top: -25px;
    margin-bottom: -10px;
    text-decoration: underline;
}